<header id="header" id="home">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="~/Content/img/logo.png" alt="" title="" /></a>
            </div>
            @Html.Partial("View")
        </div>
    </div>
</header><!-- #header -->
