<meta charset="utf-8">
<title>Moderna - Bootstrap 3 flat corporate template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<!-- css -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="~/Content/css/jcarousel.css" rel="stylesheet" />
<link href="~/Content/css/flexslider.css" rel="stylesheet" />
<link href="~/Content/css/style.css" rel="stylesheet" />

<!-- Theme skin -->
<link href="~/Content/skins/default.css" rel="stylesheet" />

<!-- =======================================================
Theme Name: Moderna
Theme URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
Author: BootstrapMade
Author URL: https://bootstrapmade.com
======================================================= -->
