@model MelikeEryilmaz.Models.Sliders

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sliders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SliderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SliderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
