
@model MvcCrud.Models.Products

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div> 
        @Model.ProductName
        <br />
        @Model.UnitPrice
        <br />
        @Model.UnitsInStock
    </div>
</body>
</html>
