
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Product Details
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="product-details.html"> Product Details</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start price Area -->
<section class="price-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">How Our Customers Treat Us</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">
                            <img class="mx-auto" src="img/pr1.png" alt="">
                        </h1>
                        <h4>Personal</h4>
                        <p>For the individuals</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Secure Online Transfer</li>
                            <li>Unlimited Styles for interface</li>
                            <li>Reliable Customer Service</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>£199.00</h1>
                        <a class="primary-btn text-uppercase" href="#">Purchase Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">
                            <img class="mx-auto" src="img/pr2.png" alt="">
                        </h1>
                        <h4>Small Team</h4>
                        <p>For the individuals</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Secure Online Transfer</li>
                            <li>Unlimited Styles for interface</li>
                            <li>Reliable Customer Service</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>£299.00</h1>
                        <a class="primary-btn text-uppercase" href="#">Purchase Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">
                            <img class="mx-auto" src="img/pr3.png" alt="">
                        </h1>
                        <h4>Large Team</h4>
                        <p>For the individuals</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Secure Online Transfer</li>
                            <li>Unlimited Styles for interface</li>
                            <li>Reliable Customer Service</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>£399.00</h1>
                        <a class="primary-btn text-uppercase" href="#">Purchase Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">
                            <img class="mx-auto" src="img/pr4.png" alt="">
                        </h1>
                        <h4>Enterprise</h4>
                        <p>For the individuals</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Secure Online Transfer</li>
                            <li>Unlimited Styles for interface</li>
                            <li>Reliable Customer Service</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>£499.00</h1>
                        <a class="primary-btn text-uppercase" href="#">Purchase Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End price Area -->
<!-- Start feature Area -->
<section class="feature-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 pb-40 header-text text-center">
                <h1 class="pb-10 text-white">Some Features that Made us Unique</h1>
                <p class="text-white">
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row">
                        <span class="lnr lnr-user"></span>
                        <h4>Expert Technicians</h4>
                    </a>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row">
                        <span class="lnr lnr-license"></span>
                        <h4>Professional Service</h4>
                    </a>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row">
                        <span class="lnr lnr-phone"></span>
                        <h4>Great Support</h4>
                    </a>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row">
                        <span class="lnr lnr-rocket"></span>
                        <h4>Technical Skills</h4>
                    </a>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row">
                        <span class="lnr lnr-diamond"></span>
                        <h4>Highly Recomended</h4>
                    </a>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row">
                        <span class="lnr lnr-bubble"></span>
                        <h4>Positive Reviews</h4>
                    </a>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->
