
@{
    ViewBag.Title = "İnterests";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Database Managment Systems,Website Design,Game terrain design</p>
        <p class="mb-0"></p>
    </div>
</section>
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
    <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>

            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Akdeniz İnformatics Summit Participation Certiﬁcate (12/2018)
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                <sup></sup>
                OYK 2018-Mustafa Akgül Summer Camp Participation Certiﬁcate
            </li>

        </ul>
    </div>
</section>


