
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateArticle</title>
</head>
<body>
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" name="title" value="" /></td>

        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" name="description" value="" /></td>

        </tr>

        <tr>
            <td></td>
            <td><input type="submit" name="create" value="CREATE" /></td>

        </tr>
    </table>
    <label>@ViewBag.yeni</label>
</body>
</html>
